html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration: none;
}
#menuhontai{
    a{
        color: white;
    }
}


// anim
.inviewfadeIn{
    opacity: 0;
    transition: 1s;
}

.inviewfadeIn.fadeIn{
    opacity: 1;
    transition: 1s;
}

.inviewLeft{
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
}

.inviewLeft.fadeIn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
}


.inviewWork{
    opacity: 0;
    
    &:nth-child(2){
       transition-delay: 1s;
    }

    &:nth-child(3){
        transition-delay: 1s;
     }
}

.inviewWork.fadeIn{
    opacity: 1;
    transition: 1s;
    
    &:nth-child(2){
       transition-delay: 0.2s;
    }

    &:nth-child(3){
        transition-delay: 0.4s;
     }
}



// 















main{
    min-height:100vh;
}
.p_wrapper{
    width: 1000px;
    margin:0 auto;
    position: relative;
    box-sizing: border-box;
}

.section_ttl{
    font-size: 3.5em;
    color: #333;
    font-weight: 600;
}

.read_more{
    display: block;
    width: 10em;
    margin: 0 auto;
    line-height: 2.5;
    text-align: center;
    color: #000;
    background-color: #fff;
}
.btnarea{
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
}


.p_main{
    height: 100vh;
    background-size: cover;
    position: relative;
    h2{
        font-size:5.375em;
        color: #fff;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.005em;
    }

    p{
        font-size:1.125em;
        color: #fff;
        line-height: 2;
        letter-spacing: 0.005em;
    }

 .p_wrapper{
     height:calc( 100% - 100px );
     display: flex;
     align-items: center;
     justify-content: center;
 }
}

// header

header{
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 1.5em;
        font-weight: 600;
        margin-left:2em;
    }
    a{
        color: #fff;
        &:visited{
            color: #fff;
        }
    }
    ul{
        display: flex;
        align-items: center;
        li{
            font-size: 1.125em;
            font-weight: 600;
            margin-right:2.5em;
        }
    }
}

// newsSection

.p_news{
    h3{
        color: #333;
    }
    background-size: cover;
    padding: 4.5em 0 120px;
    .section_ttl{
        text-align: center;
    }
}

.news_list{
    max-width: 800px;
    
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 3em;
    li{
        margin-bottom: 1em;
    }
   .link_wrap{
        color: #000;
        display: block;
        padding-top: 1em;
        &:hover{
            cursor: pointer;
        }
        border-top: 2px solid #333;
    }
    .grid{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 3fr;
        text-align: center;
    }
    .news_title{
        padding-left: 1em;
        color: #000;
        text-align: left;
        &:hover{
            cursor: pointer;
        }
    }
    .news_cat{
        color: #fff;
        padding: 0.5em;
        font-size: 0.75em;
        background-color: #333;
    }
}

// aboutsection
.p_about{
    display: flex;
    justify-content: flex-end;
    .p_about_img{
        width: 50%;
        height: 330px;
        img{
            width: 100%;
            object-fit: cover;
            height: 330px;
        }
    }
    .p_about_text{
        text-align: left;
        margin-right: 130px;
        p{
            margin-top: 1.5em;
            line-height: 2.5;
            margin-bottom: 2em;
        }
        .button{
            margin: 0;
        }
    }
}


// single.php
.p_single{
    padding-top: 120px;
    padding-bottom: 200px;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    .news_title{
        font-size: 2em;
         font-weight: 700;
         line-height: 1.3;
    }
    .p_single_flex{
        display: flex;
        align-items: center;
        margin-top: 10px;
        .news_cat{
            color: #fff;
            padding: 0.8em;
            font-size: 0.75em;
            background-color: #333;
            margin-left: 2em;
        }
        .news_date{
            font-weight: 600;
            color: rgb(172, 172, 172);
        }
        .color{
            color: #333;
        }
    }
    .p_news_content{
        margin-top: 60px;
        line-height: 1.3;
        color: #333;
        img{
            max-width: 100%;
            object-fit: contain;
        }
        *{
            max-width: 100%;
        }
    }

    .img{
        max-width: 100%;
        img{
            width: 100%;
        }
    }

    .result_ttl{
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.5;
    }

    .result_text{
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 40px;
        line-height: 1.5;
    }
  
}

// workssection
.p_works{
    margin-top: 200px;
    margin-bottom: 120px;
    padding: 3.5em 0;
    h3{
        text-align: center;
        color: #fff;
    }
    
    background-size: cover;
}
.p_works_grid{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    li{
        img{
            width: 100%;
        }
        div{
            width: 100%;
        }
        a{
            color: #fff;
            p{
                line-height: 1.5;
            }
        }
    }
    
}

// archive-works
.p_works_archive{
    .p_works_grid{
        p{
            color: #333;
        }
        
    }
}




// footer

footer{
    margin-top: 120px;
    height: 80px;
    text-align: center;
    background-color: #333;
    color: #fff;
    p{
        line-height: 80px;
    }
}


// about-page

.p_about_page{
    color: #333;
    margin-top: 120px;
    text-align: center;
    .section_ttl{
        margin-bottom: 40px;
    }
    .p_about_table{
        max-width: 900px;
        margin: 0 auto;
        li{
            display: flex;
            align-items: center;
            padding: 20px;
            text-align: left;
            border-top: 1px solid rgb(192, 192, 192);
            .p_tb_name{
                width: 145px;
                letter-spacing: 0.1em
            }
        }
        .p_table_in:last-child{
            border-bottom: 1px solid rgb(192, 192, 192);
        }
    }
    iframe{
        margin-top: 80px;
    } 
}


// contact
.p_contact_page{
    
    color: #333;
    margin-top: 120px;
    text-align: left;
    .section_ttl{
        text-align: center;
        margin-bottom: 40px;
    }

    input{
        margin-bottom: 24px;
        width: 100%;
    }

    input[type="submit" i]{
        width: 300px;
        display: block;
        padding: 1em;
        background: #333;
        color: #fff;
        margin: 0 auto;
        border: 0px;
        &:hover{
            cursor: pointer;
        }
    }
    input[type="submit"]{
        width: 300px;
    }
    textarea{
        margin-bottom: 24px;
        width: 100%;
    }
    .p_wrapper{
        background-color: rgba(0, 0, 0, 0.05);
        padding: 2em;
    }
}


.p_kaisou{
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center center;
    h2{
        font-size: 2em;
        font-weight: 600;
    }
}
.p_hc{
    header{
        background-color: #333;
    }
}

.p_news_content{
    *{
        max-width: 100%;
    }
}

.han{
    display: none;
    margin-right: 1em;
    position: relative;
    z-index: 10;
    // top: 2%;
    // right: 1%;
    // position: fixed;
}
@media screen and (max-width:999px) {
    /*　画面サイズが1024pxからはここを読み込む　*/

    .p_main h1{
        margin-left: 20px;
    }
    .p_wrapper{
        width: 100%;
    }
    .news_list{
        padding: 0 0px;
    }
    .p_about {
        flex-direction: column-reverse;
    }
    .p_about .p_about_img {
        width: 100%;
        margin-bottom: 32px;
    }
    .p_about .p_about_text {
        text-align: center;
        margin-right: 0;
    }
    .p_about .p_about_text .button {
        margin: 0 auto;
    }



    .p_works_grid {
        padding: 0 32px;
    }
    .p_main h2 {
        font-size: 2.375em;
    }
    .p_main .p_mv_text {
        text-align: center;
       
    }
    .p_single {
        padding: 0 10px;
        padding-top: 120px;
        padding-bottom: 200px;
        margin: 0 auto;
        width: 100%;
        max-width: 750px;
        box-sizing: border-box;
    }
    .p_contact_page .p_wrapper {
        box-sizing: border-box;
    }

    header h1 {
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 1em;
    }

 
}

@media screen and (max-width:760px) {
    .han{
        display: block;
        margin-right: 1em;
        position: relative;
        z-index: 10;
        // top: 2%;
        // right: 1%;
        // position: fixed;
    }
    header ul {
        display: none;
    }
    .news_list {
        padding: 0px 8px;
    }
    .news_list .grid {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }
    .news_list .grid {
        gap: 10px;
    }
    .news_list .news_title {
        padding-left: 0;
    }
    .p_about .p_about_text p {
        margin-top: 1.5em;
        line-height: 2.5;
        letter-spacing: -0.1em;
        margin-bottom: 2em;
    }
    .p_works_grid {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .news_list .news_cat {
        width: 23%;
    }
    .news_date{
        text-align: left;
    }
    .p_main h2 {
        // font-size: 2.375em;
        text-align: center;
    }
    .p_about_page .p_about_table {
        box-sizing: border-box;
        padding-right:16px ;
        padding-left: 16px;
    }

    .p_works {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .section_ttl {
        font-size: 2.5em;
    }
    .han{
        display: block;
    }
}

@media screen and (max-width:500px) { 
    .p_main h2 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
    }
    .p_contact_page input[type="submit"] {
        width: 230px;
        box-sizing: border-box;
    }
}


// menu


.openbtn1{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#333;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
  }
  
  /*ボタン内側*/
  .openbtn1 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
    background: #fff;
      width: 45%;
    }
  
  .openbtn1 span:nth-of-type(1) {
    top:15px; 
  }
  
  .openbtn1 span:nth-of-type(2) {
    top:23px;
  }
  
  .openbtn1 span:nth-of-type(3) {
    top:31px;
  }
  
  /*activeクラスが付与されると線が回転して×に*/
  
  .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  
  .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }

  .hanmenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 5;
    height: 100vh;
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:center;
        justify-content: center;
        height: 100vh;
    }
    li{
        width: 100%;
        text-align: center;
        font-size: 2em;
        color: #fff;
        margin-bottom: 20px;
    }
    
}

// #menuhontai.active{
 
//     display: block;
//     opacity: 1;
//     overflow: hidden;
// }